@charset "UTF-8";

@font-face {
	font-family: 'YESMyoungjo-Regular'; /* 명조체 */
	src:
		url('https://cdn.jsdelivr.net/gh/projectnoonnu/noonfonts_13@1.0/YESMyoungjo-Regular.woff')
		format('woff');
	font-weight: normal;
	font-style: normal;
}

@font-face {
	font-family: 'LeferiPoint-WhiteObliqueA'; /* 딱딱한 글씨체 */
	src:
		url('https://cdn.jsdelivr.net/gh/projectnoonnu/noonfonts_2201-2@1.0/LeferiPoint-WhiteObliqueA.woff')
		format('woff');
	font-weight: normal;
	font-style: normal;
}

@font-face {
    font-family: 'CookieRunOTF-Bold';
    src: url('https://cdn.jsdelivr.net/gh/projectnoonnu/noonfonts_twelve@1.0/CookieRunOTF-Bold00.woff') format('woff');
    font-weight: normal;
    font-style: normal;
}

* {
	margin: 0 auto;
	font-family: 'LeferiPoint-WhiteObliqueA'
}

body {
	background-color: rgba(218, 233, 244, 0.8);
}

.backimg {
	margin-top: 10%;
	background-color: white;
	width: 800px;
	height : 450px;
	line-height : 100px;
	border-radius: 20px;
}

#description {
	color : #274c5e;
	margin-top: 10%;
	text-align: center;
	font-size: 25px;
}

.wrap {
	width: 100%;
	display: grid;
	grid-template-columns: 1fr 1fr 1fr;
	padding: 10px;
	margin-top: 5%;
}

.wrap img {
	width: 75%;
	height: 90%;
	line-height: 200px;
	text-align: center;
	padding: 10px;
	max-height: 90%;
	max-width: 75%;
}

.wrap img:hover {
	cursor: pointer;
}