@charset "UTF-8";

@font-face {
	font-family: 'YESMyoungjo-Regular'; /* 명조체 */
	src:
		url('https://cdn.jsdelivr.net/gh/projectnoonnu/noonfonts_13@1.0/YESMyoungjo-Regular.woff')
		format('woff');
	font-weight: normal;
	font-style: normal;
}

@font-face {
	font-family: 'LeferiPoint-WhiteObliqueA'; /* 딱딱한 글씨체 */
	src:
		url('https://cdn.jsdelivr.net/gh/projectnoonnu/noonfonts_2201-2@1.0/LeferiPoint-WhiteObliqueA.woff')
		format('woff');
	font-weight: normal;
	font-style: normal;
}

@font-face {
	font-family: 'CookieRunOTF-Bold';
	src:
		url('https://cdn.jsdelivr.net/gh/projectnoonnu/noonfonts_twelve@1.0/CookieRunOTF-Bold00.woff')
		format('woff');
	font-weight: normal;
	font-style: normal;
}


table {
    margin-left:auto; 
    margin-right:auto;
    color:#274c5e; 
	border-left:none;
	border-right:none;
	border-collapse: collapse;
	font-family: 'LeferiPoint-WhiteObliqueA';
	background-color:  #e6f2fa;
	table-layout:fixed;
	font-size:small;
    
}
.left_id	{
	width:10%;
	text-align: center;
	font-weight: bold;
}
.middle_comment {
	width:90%;
}
.right_btn{
	width:10%;
} 


#comment{
	border-top:none;
	border-left:none;
	border-right:none;
	border-bottom:1px solid rgb(181, 179, 179);
	background-color: #e6f2fa;
	width:100%;
	height: 30px;
}
#registrationBox{
	margin-bottom:20px;
}

#commentBoxTable{
	margin-left:140px;
	margin-right:140px;
}

.upperTable{
 border-bottom:none;

  
}
.upperTable:hover {
  box-shadow: 0 4px 20px 0  #dae9f4;
  color:#dae9f4;
  background-color: #274c5e;
  cursor:pointer;

	
}


#underTable tr {
	border-bottom:1px solid rgb(181, 179, 179);
}













/* 버튼 */
#registrationBtn {
  background-color: #9cb9cd;
  color:white;
  border-radius: 5px;
  border-style: hidden;
  padding: 0.5rem;
  font-size: small;
  margin: 0.7rem;
  font-weight: bold;
  padding: 6px 8px;
  
}
#registrationBtn:hover {
  
  color:#274c5e;
  background-color: white;
  cursor:pointer;
}

#deleteBtn {
  background-color: white;
  color:#274c5e;
  border-radius: 5px;
  border-style: hidden;
  padding: 0.5rem;
  font-size: small;
  margin: 0.7rem;
  display: inline-flex;
  justify-content: space-between;
  font-weight: bold;
  padding: 6px 8px;
  
}
#deleteBtn:hover {
  box-shadow: 0 4px 20px 0  #dae9f4;
  color:#dae9f4;
  background-color: #274c5e;
  cursor:pointer;
}






