<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper
  PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
  "https://mybatis.org/dtd/mybatis-3-mapper.dtd">
  
   <mapper namespace="com.spring_boot.ydpos.dao.IWriteDAO">
 <resultMap id="writeResult" type = "com.spring_boot.ydpos.model.writeVO">
 		<result property="writeNo" column= "writeNo" />
 		<result property="writeTitle" column= "writeTitle" />
 		<result property="writeImg" column= "writeImg" />
 		<result property="writeCategory" column= "writeCategory" />
 		<result property="userType" column= "userType" />
 		<result property="editordata" column= "editordata" /> 
 		<result property="writeDate" column= "writeDate" /> 

 	</resultMap>
 	
   				
   			<!-- 
   			
   			<select id="listAllWrite" resultMap="writeResult">
   				SELECL * FROM writepage ORDER BY writeNo
   			</select>


   			<select id="write" resultMap="writeResult">
   				SELECL * FROM writepage ORDER BY writeNo
   			</select>   			 -->
   			
   			
     			 <!-- 글쓰기 등록 -->
  <insert id="insertwrite" parameterType="com.spring_boot.ydpos.model.writeVO">
  		INSERT INTO writePage (writeTitle,writeCategory,editordata,fileName,userType,userId)
  		VALUES (#{writeTitle},#{ writeCategory},#{editordata},#{fileName},#{userType},#{userId})
  </insert>
  
<!-- 글쓰기 등록에 필요한 유저 타입 반환  -->
<select id="getUserType" parameterType="string" resultType="string">
	select userType
	from joinUserList
	where userId=#{userId}
</select>
   </mapper>