<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper
  PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
  "https://mybatis.org/dtd/mybatis-3-mapper.dtd">
  
   <mapper namespace="com.spring_boot.ydpos.dao.IWriteDAO">
 <resultMap id="writeResult" type = "com.spring_boot.ydpos.model.writeVO">
 		<result property="writeNo" column= "writeNo" />
 		<result property="writeTitle" column= "writeTitle" />
 		<result property="writeImg" column= "writeImg" />
 		<result property="writeCategory" column= "writeCategory" />
 		<result property="writeHits" column= "writeHits" />
 		<result property="editordata" column= "editordata" /> 
 		<result property="writeDate" column= "writeDate" /> 

 	</resultMap>
   	
   			<!-- 
   			
   			<select id="listAllWrite" resultMap="writeResult">
   				SELECL * FROM writepage ORDER BY writeNo
   			</select>


   			<select id="write" resultMap="writeResult">
   				SELECL * FROM writepage ORDER BY writeNo
   			</select>   			 -->
   			
   			
     			 <!-- 글쓰기 등록 -->
  <insert id="insertwrite" parameterType="com.spring_boot.ydpos.model.writeVO">
  		INSERT INTO writePage (writeTitle,editordata,writeCategory,userId,fileName,userType)
  		VALUES (#{writeTitle},#{editordata},#{ writeCategory},#{userId},#{fileName},#{userType})
  </insert>
  
  <!-- 글쓰기 유저타입 호출 -->
  <select id="getUserType" parameterType="string" resultType="string">
  	select userType
  	from joinUserList
  	where userId =#{userId}
  </select>
  
  
 <!-- Main에 사용할 코드 -->
<!-- 최신순으로 메인에서 5개 이미지 출력 -->	
<select id="recentView"  resultMap="writeResult">
	SELECT *
	FROM writePage
	ORDER BY writeNo DESC LIMIT 0, 5
</select>

<!-- 7일 간 가장 높은 조회수 순으로 메인에서 3개 이미지 출력 -->
<select id="hitsView"  resultMap="writeResult">
	SELECT * FROM writePage 
	WHERE writeDate BETWEEN '2022-12-7' AND '2022-12-14' 
	ORDER BY writeHits DESC LIMIT 0, 3
	<!-- 현재 시간으로 출력 ecardDate AS [CURRENT_TIMESTAMP] -->
</select>
<!-- Main에 사용할 코드 작성 끝 -->
  
  
  
  

   </mapper>