<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper
  PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
  "https://mybatis.org/dtd/mybatis-3-mapper.dtd">
  
   <mapper namespace="com.spring_boot.ydpos.dao.ICardListDAO">
  	<resultMap id="cardListResult" type="com.spring_boot.ydpos.model.CardListVO" >
  		<result property="writeNo"  column="writeNo"  />
  		<result property="writeImg"  column="writeImg"  />
  		<result property="writeCategory"  column="writeCategory"  />
  		<result property="writeTitle"  column="writeTitle"  />
  		<result property="editordata"  column="editordata"  />
  		<result property="cardBookmark"  column="cardBookmark"  />
  		<result property="writeDate"  column="writeDate"  />
  		<result property="userId"  column="userId"  />
  		<result property="userImg"  column="userImg"  />
  	</resultMap>
  	
  	<!-- 여행기 전체 보기 -->
  	<select id="listAllCard"  resultMap="cardListResult">
		SELECT * FROM writePage ORDER BY writeNo DESC	
	</select> 
  
     <!-- 검색 결과 보기  -->
  <select id="cardSearch" parameterType="string" resultMap="cardListResult">
  		SELECT * FROM writePage WHERE
  		writeTitle Like CONCAT('%', #{keyword}, '%') 
  		OR editordata Like CONCAT('%', #{keyword}, '%') 
  		OR writeCategory Like CONCAT('%', #{keyword}, '%')
  </select>
  
  	<!-- 서브 필터 결과 보기 -->
  <select id="subShowFilter" parameterType="string" resultMap="cardListResult">
  		Select * from writePage where
  		writeCategory like concat('%', #{subKey}, '%')
  </select>
  	
 </mapper> 
  