<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper
  PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
  "https://mybatis.org/dtd/mybatis-3-mapper.dtd">
  
  <mapper namespace="com.spring_boot.ydpos.dao.IJoinDAO">
  	<insert id="joinIndividaul">
  		insert into join_individual(userId, userPw, userName, userEmail, userGender, userHP)
  		values (#{userId}, #{userPw}, #{userName}, #{userEmail}, #{userGender}, #{userHP})
  	</insert>
  	
  	<insert id="joinCorporation">
  		insert into join_corporation(userId, userPw, userName, userHP)
  		values (#{userId}, #{userPw}, #{userName}, #{userHP})
  	</insert>
  	
  	<insert id="joinPublic">
  		insert into join_public(userId, userPw, userName, userHP)
  		values (#{userId}, #{userPw}, #{userName}, #{userHP})
  	</insert>
  </mapper>